.wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.header {
    color: rgb(255, 123, 0);
    margin-left: 250px;
    font-size: 32px;
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/4;
}
.header > img {
	float: left;
}

.navigation {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 20px;
    grid-row: 2/3;
    grid-column: 1/2;
    overflow: auto;
}

.navigation > img {
	padding-left: 10%;
}

.navigation > img:hover{
	opacity: 0.0;
	transition: .5s ease;
}
  
.navigation a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: rgb(255, 123, 0);
    display: block;
}
  
.navigation a:hover {
	color: red;
	background-color: rgb(255, 123, 0);
	transition: background-color 1000ms linear;
}

.content{
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    margin-right: 200px;
    display: grid;
    grid-template-columns: auto;
    grid-row: 2/3;
    grid-column: 2/3;
}

.content a {
	color: rgb(255, 123, 0);
}

.content a:hover {
	color: red;
	background-color: rgb(255, 123, 0);
	transition: background-color 1000ms linear;
}

.content_section{
    padding-top: 2%;
    padding-bottom: 2%;
}

.content_section > figure {
    float: left;
}

.content_section > figure > img{
    width: 300px;
    height: auto;
}

#Ocillator:hover {
	background: url(assets/images/Game-of-life_Oscillator.png)
}





@media only screen and (max-width: 1024px) {
    .wrapper{
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }

    .header{
        grid-row: 1/2;
        grid-column: 1/3;
        margin-left: 150px;
    }

    .content{
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 5%;
        margin-right: 5%;
    }
    .navigation{
        position: relative;
        grid-column: 1/2;
        grid-row: 2/3;
        width: 150px;
        height: auto;
    }
    .navigation a {float: left;}
    
}		
@media only screen and (max-width: 768px) {
        .wrapper {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }

        .header{
            grid-row: 1;
            margin-left: auto;
        }

        .navigation{
            width: 100%;
            grid-row: 2;
            position: relative;
            height: auto;
            grid-column: 1;
        }

        .navigation a {
            text-align: center;
            float: none;
		}
		
		.navigation > img{
			text-align: center;
			padding-left: 40%

		}

        .content{
            grid-row: 3;
            grid-column: 1;
        }
        
    }
  